*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    
}

h1{
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2.8rem;
}
p{
    // width: 109%;
}
button{
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    background-color:rgb(255, 255, 255);
    color: #000000;
    cursor: pointer;
    font-size: 15px;
}
.b{
    border: 2px solid red;
}