*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    
}
main{
    // overflow: hidden;
    // height: 80vh;
    // overflow: hidden;
}
h1{
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2.8rem;
    padding: 0.3rem;
}
button{
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    background-color:rgb(255, 255, 255);
    color: #000000;
    cursor: pointer;
}
.b{
    border: 2px solid red;
}